.boxInput {
    height: 35vh;
    width: 100vh;
}


.Botao{
    height: 10vh;
    width: 30vh;
    background-color: #99B898;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4em;
    border: none;
}

.Botao :active{
background-color: thistle;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}